html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#p1 {background-color: #ff0000;}   /* red */
#p2 {background-color: #00ff00;}   /* green */

.uk-border-rounded-top {background-color: #00ff00;
    border-radius: 5px 5px 0 0 !important;
    
}

  h1.a {
    font-family: Quintessential, sans;

}

p { text-decoration-color: rgb(113, 201, 125);
  }

  .uk-text-primary {
      color:aliceblue!important;
  }

  .uk-container {
      width:80%;
      margin: auto;
      height: 200vh;
  }