html, body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
   


}
#p1 {background-color: #ff0000;}   /* red */
#p2 {background-color: #00ff00;}   /* green */


.uk-border-rounded-top {background-color: #00ff00;
    border-radius: 5px 5px 0 0 !important;
    
}

  h1.a {
    font-family: Quintessential, sans;

}

p.b {
    font-family: Roboto, slab;
    font-weight: 100;

}


p { text-decoration-color: rgb(113, 201, 125);
  }

  .uk-text-primary {
      color:aliceblue!important;
  }

  .uk-container {
      width:80%;
      margin: auto;
      height: 150vh;
  }